    <section class="l-recruit">
      <div class="l-recruit__requirements u-width--03">
        <h2 class="l-recruit__requirements__title">RECRUIT</h2>
        <div class="l-recruit__requirements__items">
          <button>
            <a href="<%- rootPath %>/recruit/" class="l-recruit__link">募集要項一覧<span></span></a>
          </button>
          <button>
            <a href="<%- rootPath %>/flow/" class="l-recruit__link --flow">選考フロー・FAQ<span></span></a>
          </button>
        </div>
      </div>
      <a href="" target="_blank" class="l-recruit__link--entry"><span>ENTRY</span></a>
    </section>

