<%_
  var pageName = "home";
  var data = data;
_%>
<%- include("./_components/_head", { pageName, data }) _%>
<%- include("./_components/_header", { pageName, data }) _%>
  <main>
  </main>
<%- include("./_components/_footer", { pageName, data }) _%>
<%- include("./_components/_foot", { pageName, data }) _%>
